@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@1,700&display=swap');

/* Global Variables */
:root{
    /* Colors */
    --beige: #FAF0DC;
    --dark-beige: #e9dcc4;
    --darker-beige: #d3c4a8;
    --brown: #C19770;
    --dark-brown: #795236;
    --darker-brown: #0d0600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}

/* Helper classes */

.center-content-h{
    display: flex;
    justify-content: center;
}

.center-content-v{
    display: flex;
    align-items: center;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Component Styles */

.btn {
    width: 5rem;
    height: 2.3rem;
    border: none;
    border-radius: 1rem;
}
.btn-primary {
    background-color: var(--brown);
    color: white;
}

.btn-secondary {
    width: 5rem;
    height: 2.3rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--dark-brown);
}
.btn-secondary:hover {
    cursor: pointer;
    background-color: white;
    color: black
}

.txt {
    height: 2.2rem;
    width: 100%;
    outline-color: var(--brown);
    border: none;
    border-radius: 1rem;
    text-indent: 1rem;
    color: var(--dark-brown);
    font-size: 1rem;
}

.txt:focus {
    outline-color: var(--dark-beige);
}

::placeholder{
    color: var(--dark-brown);
    opacity: 0.3;
}

.loading-skeleton{
    background-color: var(--darker-brown);
}

/* Page Sections */

#main-container {
    display: flex;
    flex-direction: column;
}
nav{
    flex-grow: 0.5;
    background-color:var(--beige);
    color: var(--dark-brown);
    margin: 0;
    height: 3.8rem;
    display: flex;
}

main{
    flex-grow: 11;
    background-color:var(--beige);
    display: flex;
    flex-direction: column;
}

footer {
    flex-grow: 0.5;
    background-color:var(--dark-beige);
    display: flex;
}

/* Navigation */

#nav-items {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-items>li {
    height: 100%;
    display: flex;
    align-items: center;
}

#logo {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#user-area{
    justify-content: flex-end ;
}

#logout-btn {
    margin-right: 1rem;
}

#search-bar {
    width: 40%;
}

/* Banner */

#banner {
    background-color: black;
    color: white;
    height: 22rem;
    position: relative;
    
}

#banner::after {
    content: '';
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/banner.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: .4;
    filter: blur(3px);
}

#banner-container {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   z-index: 10;
   width: 100%;
   height: 100%;
}

#banner-container>h1 {
    font-family: 'Gentium Book Basic', serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0rem;
}

#featured-book{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

#featured-book-cover {
    height: 15rem;
    width: 10rem;
    background-color: var(--darker-brown);
    border: none;
}

#featured-book-info {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    gap: 1rem;
}

#featured-book-info > h2 {
    text-transform: capitalize;
    font-size: 2.2rem;
    min-width: 10rem;
}

#featured-book-details {
    display: flex;
}

#featured-book-details > h5::after {
    content: "•";
    margin: 0 0.5rem 0 0.5rem;
}

#featured-book-details > :last-child::after {
    content: "";
}

#featured-book-info > h3 {
    font-weight: 300;
    font-style: italic;
    height: 6rem;
    max-height: 10rem;
    width: 50rem;
    overflow: hidden;
    font-size: 1rem;

}

#featured-book-info > button {
    width: 33%;
    height: 2rem;
}

/* Book Area */
#book-area{
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

.book-category{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-beige);
    margin: 1.5rem 3rem 1.5rem 3rem;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

.book-category-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.book-category-header > button{
    width: 6rem;
}

.category-title{
    color: var(--dark-brown);
    font-weight: bold;
    text-transform: capitalize;
}



.category-books {
    margin: 0 1rem 0 1rem;
    display:flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.category-books-entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.5rem;
    max-width: 12rem;
    position: relative;
}

.entry-cover {
    height: 12.5rem;
    width: 8rem;
    object-fit: cover;
}

.entry-name {
    font-weight:normal;
    padding: 0.5rem;
    background-color:var(--darker-brown);
    color: white;
    text-transform: capitalize;
    font-size: .8rem;
    height: 100%;
    width: 8rem;
    position: absolute;
    bottom: 0;
    display: none;
}

.entry-cover:hover + .entry-name{
    opacity: 0.8;
    display: flex;
    align-items: flex-end;
}


