/* Global Variables */
:root{
    /* Colors */
    --beige: #FAF0DC;
    --dark-beige: #e9dcc4;
    --breige:  #eacaa5;
    --brown: #C19770;
    --dark-brown: #795236;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100,0,200;0,300;0,700;0,900;1,200;1,300;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
}

/* Helper classes */

.center-content-h{
    display: flex;
    justify-content: center;
}

.center-content-v{
    display: flex;
    align-items: center;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Component Styles */

.btn {
    width: 5rem;
    height: 2.3rem;
    border: none;
    border-radius: 1rem;
}
.btn-primary {
    background-color: var(--brown);
    color: white;
}

.btn-secondary {
    width: 5rem;
    height: 2.3rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--dark-brown);
}
.btn-secondary:hover {
    cursor: pointer;
    background-color: white;
    color: black
}

.txt {
    height: 2.2rem;
    width: 100%;
    outline-color: var(--brown);
    border: none;
    border-radius: 1rem;
    text-indent: 1rem;
    color: var(--dark-brown);
    font-size: 1rem;
}

.txt:focus {
    outline-color: var(--dark-beige);
}

::placeholder{
    color: var(--dark-brown);
    opacity: 0.3;
}

/* Page Sections */

#main-container {
    display: flex;
    flex-direction: column;
}
nav{
    flex-grow: 0.5;
    background-color:var(--beige);
    color: var(--dark-brown);
    margin: 0;
    display: flex;
}

main{
    flex-grow: 11;
    background-color:var(--beige);
    display: flex;
    flex-direction: column;
}

footer {
    flex-grow: 0.5;
    background-color:var(--dark-beige);
    display: flex;
}

/* Navigation */

#nav-items {
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-items>li {
    height: 100%;
    display: flex;
    align-items: center;
}

#logo {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#user-area{
    justify-content: flex-end ;
}

#logout-btn {
    margin-right: 1rem;
}

#search-bar {
    width: 40%;
}

/* Header */



#banner {
    background-color: black;
    color: white;
    flex-grow: 6;
    position: relative;
    
}

#banner::after {
    content: '';
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/banner.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: .4;
    
}

#banner-container {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   z-index: 10;
   width: 100%;
   height: 100%;
}

#banner-container>h1 {
    text-transform: uppercase;
    padding: 2rem 0 1rem 0;
}

#featured-book{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

#featured-book-cover {
    height: 15rem;
}

#featured-book-info {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    gap: 1rem;
}

#featured-book-info > h2 {
    text-transform: capitalize;
    font-size: 2.2rem;
}

#featured-book-info > h3 {
    font-weight: 100;
    font-style: italic;
    max-width: 25rem;
    font-size: 1rem;
}

#featured-book-info > button {
    width: 33%;
    height: 2rem;
    /* align-self: center; */
}

#book-area{
    /* background-color: blue; */
    flex-grow: 8;

}

